html, body{
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image: url("../img/han.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    color: #fff;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width: 100%;
}
h2 {
	font-size: 42px;
}
.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	cursor: pointer;
	opacity: 0.8;
	margin-bottom: 10px;
}
.save:hover {
	opacity: 0.95;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}

 
th {
	border:1px solid white;
	background:rgb(255,140,0);
	padding:10px;
	opacity: 0.8;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
}
 
 
#wrapper {width: 80%; margin-top: 0px; }
#header {width: 100%;  margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin: 0 auto;}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}
#container {
	margin-top: 240px;
}
.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	margin-bottom: 15px;
	background: #cccccc;
}